<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRX_Ov4RZPHvacvKCp6WCMmVxx6JRrfLc</string>
	<key>GCM_SENDER_ID</key>
	<string>775337050090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tradeHomeApp</string>
	<key>PROJECT_ID</key>
	<string>trade-home-app</string>
	<key>STORAGE_BUCKET</key>
	<string>trade-home-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775337050090:ios:54a7c22abe4aec714a7c93</string>
</dict>
</plist>